<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <style>
        body{
            margin: 0;
        }
        .headers{
            width: 500px;
            height: 600px;
            border: 1px solid red;
            margin: 0 auto;
        }
    </style>
</head>
<body>
我想被狂舔
<form method="post">
    {% csrf_token %}
    <div class="headers">
        <div class="first"></div>
        <div class="second"></div>
{#        <img src="{{ his_avatar }}" width="50px" height="50px">{{ his_name }} <br>#}
{#        <img src={{ your_avatar }} width="50px" height="50px">#}
{#        {{ your_name }}#}
    </div>
</form>
</body>
</html>